@model DoAnCoSo.Data.Lophoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lophoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenlop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenlop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tgtao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tgtao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaynhaphoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaynhaphoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayketthuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayketthuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhNavigation.Makh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Malop">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
