@model IEnumerable<DoAnCoSo.Data.Lophoc>

@{
    ViewData["Title"] = "Danh sách lớp học";
}

<h1>Danh sách lớp học</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Tạo mới</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tên lớp</th>
            <th scope="col">Thời gian tạo</th>
            <th scope="col">Ngày nhập học</th>
            <th scope="col">Ngày kết thúc</th>
            <th scope="col">Khóa học</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Tenlop)</td>
                <td>@Html.DisplayFor(modelItem => item.Tgtao)</td>
                <td>@Html.DisplayFor(modelItem => item.Ngaynhaphoc)</td>
                <td>@Html.DisplayFor(modelItem => item.Ngayketthuc)</td>
                <td>@Html.DisplayFor(modelItem => item.MakhNavigation.Makh)</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Malop">Chi tiết</a>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Malop">Sửa</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Malop">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
