@model IEnumerable<DoAnCoSo.Data.Khoahoc>

@{
    ViewData["Title"] = "Danh sách khóa học";
}

<h1>Danh sách khóa học</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Tenkh)</th>
            <th>@Html.DisplayNameFor(model => model.First().Noidung)</th>
            <th>@Html.DisplayNameFor(model => model.First().Dongia)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Tenkh)</td>
                <td>@Html.DisplayFor(modelItem => item.Noidung)</td>
                <td>@Html.DisplayFor(modelItem => item.Dongia)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Makh" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Makh" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Makh" class="btn btn-danger">Delete</a>
                    <a asp-controller="PhieuDangKiKhoaHoc" asp-action="Register" asp-route-id="@item.Makh" class="btn btn-success">Register</a>
                </td>
            </tr>
        }
    </tbody>
</table>
