@model IEnumerable<DoAnCoSo.Data.Lichday>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngayday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagvNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalopNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngayday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MagvNavigation.Magv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MalopNavigation.Malop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mald">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mald">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mald">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
