@model IEnumerable<DoAnCoSo.Data.Thietbi>

@{
    ViewData["Title"] = "Danh sách thiết bị";
}

<h1>Danh sách thiết bị</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Tạo mới</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tên thiết bị</th>
            <th scope="col">Giá tiền</th>
            <th scope="col">Đơn vị tính</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Tentb)</td>
                <td>@Html.DisplayFor(modelItem => item.Giatien)</td>
                <td>@Html.DisplayFor(modelItem => item.Dvt)</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Matb">Chi tiết</a>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Matb">Sửa</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Matb">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
